- include: root-device.yaml

- include: parted.yaml
  tags:
  - parted

- include: download.yaml
  when: "{{ image.disk_format != 'raw' }}"

- include: write.yaml

- include: configdrive.yaml
  when: configdrive is defined

- include: grub.yaml
  tags:
  - parted
